{% extends 'base.html' %}

{% block title %}Dodawanie kategorii{% endblock %}

{% block content %}
<div class="card bg-dark bg-gradient text-white w-75 mx-auto p-3 m-3">
    <div class="'card-body ">
{% if user.is_authenticated %}

<h1>Dodaj kategorię</h1>

<br/>
<div class="form-group">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-dark mr-2 mb-3">Dodaj kategorię</button>
    </form>
</div>
{% else %}

<h1>Nie powinno Cię tu być.</h1>

{% endif %}
</div>
</div>

{% endblock %}