{% extends 'base.html' %}

{% block title %}Edytowanie artykułu{% endblock %}

{% block content %}
<div class="card bg-dark bg-gradient text-white w-75 mx-auto p-3 m-3">
    <div class="'card-body ">
{% if user.is_authenticated %}
<h1>Edycja posta</h1>

<br/>
<div class="form-group">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.media }}
        {{ form.as_p }}
        <button class="btn btn-dark mr-2 mb-3">Opublikuj</button>
    </form>
</div>
{% else %}

<h1>Nie powinno Cię tu być.</h1>

{% endif %}
</div>
</div>
{% endblock %}